<div class="row">

    <div class="panel panel-default col-md-9">
        <div class="panel-heading active">Order</div>
        <div class="panel-heading" *ngIf="displayError">{{displayError}}</div>
        <div class="panel-heading">
            <div class="container">
                <form #orderForm="ngForm" (ngSubmit)="onSubmit()">

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-md-2">Order Number : </label>
                            <input type="text" class="form-control-static float:right" [(ngModel)]="CurrentOrder.orderNumber" name="orderNumber" id="orderNumber">
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-md-2">Vendor : </label>
                            <input type="text" class="form-control-static float:right" required [(ngModel)]="CurrentOrder.vendor" name="vendor" id="vendor">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-2">Buyer : </label>
                            <input type="text" class="form-control-static float:right" [(ngModel)]="CurrentOrder.buyer" name="buyer" id="buyer">
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-md-2">Delivery Date : </label>
                            <input type="date" class="form-control-static" required [(ngModel)]="CurrentOrder.deliveryDate" name="deliveryDate" id="deliveryDate">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-2">Ship Date : </label>
                            <input type="date" class="form-control-static" [(ngModel)]="CurrentOrder.shipDate" name="shipDate" id="shipDate">
                        </div>
                    </div>
                    <div class="panel-body ">
                        <div class="col-sm-2">
                            <label>Line Number</label>
                        </div>
                        <div class="col-sm-2">
                            <label>Item Name</label>
                        </div>
                        <div class="col-sm-2">
                            <label>Quantity</label>
                        </div>
                        <div class="col-sm-2">
                            <label>Price</label>
                        </div>
                        <div class="col-sm-2">
                            <label>State</label>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12 scrollable0panel">
                                <div class="row" *ngFor="let line of CurrentOrder.orderLines">
                                    <input type="text" class="col-sm-2" [(ngModel)]="line.lineNumber" name="lineNumber" id="lineNumber">
                                    <input type="text" class="col-sm-2" [(ngModel)]="line.itemName" name="itemName" id="itemName">
                                    <input type="text" class="col-sm-2" [(ngModel)]="line.quantity" name="quantity" id="quantity">
                                    <input type="text" class="col-sm-2" [(ngModel)]="line.price" name="price" id="price">
                                    <input type="text" class="col-sm-2" [(ngModel)]="line.state" name="state" id="state">
                                    <div class="col-sm-2"></div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default" [disabled]="!orderForm.form.valid"> Create Order</button>

                        <button type="button" (click)="addNewLine()" class="btn btn-default">Add New Line</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-default col-md-3">
        <div class="panel-heading">Orders</div>
        <div class="panel-body">
            <ul>
                <li *ngFor="let order1 of orders">{{order1.orderNumber}}</li>
            </ul>
        </div>
    </div>
</div>