/* .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  /*}
  
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  /* }  */

  html{
    overflow-y: auto;
    
}
  .scrollable0panel{
    max-height: 200px;
    overflow: auto;
 }
  body {
    margin: 1px;
    font-family: Roboto, sans-serif;
  }
  
  mat-card {
    margin: 1px auto;
    text-align: left;
    
  }
  
  mat-card-title {
    max-width: 80%;
    margin: 1%;
    padding: 0%;
    text-align: left;
    color: blue;
  }

  div.row{
    margin-left: 2px;
    margin-right: 0%;
    max-block-size: 80%;
  }
  .input-full-width {
    width:500px;
 }
 search-form{
   width: 550px;
 }

 .portlet {
  width: 95%;
  height: 100%;
  padding: 1%;
  max-height: max-content;
  overflow: auto;
  background-color: steelblue;
 }
