<form #orderForm="ngForm">
	<mat-card> <mat-card-title class="mat-primary">
	<span *ngIf="!CurrentOrder.state"> Order </span> <span
		*ngIf="CurrentOrder.state">{{CurrentOrder.orderNumber}}:
		{{CurrentOrder.state}}</span> </mat-card-title> <mat-divider></mat-divider>
	<div>&nbsp;</div>
	<mat-card-content>
	<div class="row">



		<div style="color: darkred" *ngIf="displayError">
			{{displayError}}
			<mat-divider></mat-divider>
		</div>


		<div class="row">
			<div class="form-group col-xs-3">
				<mat-form-field> <input type="text" matInput
					placeholder="Order Number" class="form-control-static float:right"
					[(ngModel)]="CurrentOrder.orderNumber" name="orderNumber"
					id="orderNumber"> </mat-form-field>
			</div>
			<div class="form-group col-xs-3">
				<mat-form-field> <input type="text" matInput
					placeholder="State" class="form-control-static float:right"
					[(ngModel)]="CurrentOrder.state" name="state"
					id="state"> </mat-form-field>

			</div>

		</div>
		<div class="row">
			<div class="form-group col-xs-3">

				<mat-form-field> <input type="text" matInput
					placeholder="Vendor" class="form-control-static float:right"
					required [(ngModel)]="CurrentOrder.vendor" name="vendor"
					id="vendor"> </mat-form-field>
			</div>
			<div class="form-group col-xs-3">
				<mat-form-field> <input type="text" matInput
					placeholder="Buyer" class="form-control-static float:right"
					[(ngModel)]="CurrentOrder.buyer" name="buyer" id="buyer"> </mat-form-field>
			</div>

		</div>
		<div class="row">
			<div class="form-group col-xs-3">

				<mat-form-field> <input type="date" matInput
					placeholder="Delivery Date" class="form-control-static" required
					[ngModel]="CurrentOrder.deliveryDate|date:'yyyy-MM-dd'"
					(ngModelChange)="CurrentOrder.deliveryDate=$event"
					name="deliveryDate" id="deliveryDate"> </mat-form-field>
			</div>
			<div class="form-group col-xs-3">

				<mat-form-field> <input type="date" matInput
					placeholder="Ship Date" class="form-control-static"
					[ngModel]="CurrentOrder.shipDate|date:'yyyy-MM-dd'"
					(ngModelChange)="CurrentOrder.shipDate=$event" name="shipDate"
					id="shipDate"> </mat-form-field>
			</div>
		</div>

		<mat-divider></mat-divider>
		<mat-tab-group> <mat-tab label="Order Lines">
		<div>&nbsp;</div>
		<div>
			<orderLines-ui [orderLines]="CurrentOrder.orderLines" [order]="CurrentOrder"></orderLines-ui>
		</div>

		</mat-tab> <mat-tab label="Address" dynamicHeight="true">
		<div>
			<mat-form-field class="example-full-width"> <textarea
				matInput [(ngModel)]="CurrentOrder.billingAddress" name="bAddress"
				placeholder="Billing Address"></textarea> </mat-form-field>
		</div>
		<div>
			<mat-form-field class="example-full-width"> <textarea
				matInput [(ngModel)]="CurrentOrder.buyerAddress" name="cAddress"
				placeholder="Customer Address"></textarea> </mat-form-field>
		</div>
		<div>
			<mat-form-field class="example-full-width"> <textarea
				matInput [(ngModel)]="CurrentOrder.sellingAddress" name="sAddress"
				placeholder="Shipping Address"></textarea> </mat-form-field>
		</div>
		</mat-tab> </mat-tab-group>


	</div>
	</mat-card-content> <mat-card-actions align="end">

	<button (click)="onSubmit()" mat-raised-button
		[disabled]="!orderForm.form.valid" *ngIf="!CurrentOrder.orderId">
		Create Order</button>

	<div *ngIf="CurrentOrder.orderId">
		<button mat-raised-button [matMenuTriggerFor]="menu">Actions</button>
		<mat-menu #menu="matMenu">

		<button mat-button *ngIf="CurrentOrder.state!=='Cancelled'"
			[disabled]="!orderForm.form.valid" (click)="updateOrder()">
			Update</button>
		<button mat-button *ngIf="CurrentOrder.state!=='Cancelled'" [disabled]="!orderForm.form.valid" (click)="approveOrder()">
			Approve</button>
		<button mat-button *ngIf="CurrentOrder.state!=='Cancelled'" [disabled]="!orderForm.form.valid" (click)="cancelOrder()">Cancel
		</button>

		</mat-menu>
	</div>
	</mat-card-actions> </mat-card>
</form>